matlab/data/
matlab/output/
ise/ip_core_spectral_analysis/_xmsgs/
ise/ip_core_spectral_analysis/ipcore_dir/
ise/ip_core_spectral_analysis/xst/
ise/ip_core_spectral_analysis/*.lso
ise/ip_core_spectral_analysis/*.prj
ise/ip_core_spectral_analysis/*.stx
ise/ip_core_spectral_analysis/*.xst
ise/ip_core_spectral_analysis/top.cmd_log
ise/ip_core_spectral_analysis/top.syr
ise/ip_core_spectral_analysis/top.ngc
ise/ip_core_spectral_analysis/top.ngr
ise/ip_core_spectral_analysis/webtalk_pn.xml
ise/ip_core_spectral_analysis/top_xst.*